.sign-up-section {
  margin-top: 80px;
}
.sign-up-victor {
  position: relative;
  max-width: 600px;
  left: -50px;
}
@media screen and (max-width: 992px) {
  .vactor-div {
    display: none;
  }
}
